<template>
  <div class="home">
   <div
      class="busy"
      v-if='busy'
    >
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div v-for="(card,i) in aCards" :key="i" class="cardWrapper">      
      <Card :oCard="card"/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Card from "@/components/Card.vue";
import axios from "axios";

export default {
  name: "home",
  data() {
    return {
      busy: true,
      aCards: []
    };
  },
  computed: {
    index(i) {
      return i + 1 <= this.aCards.length ? i + 1 : 0;
    }
  },
  components: {
    Card
  },
  mounted() {
    this.fetchCards();
  },
  methods: {
    fetchCards() {
      var _this = this;
      axios("https://dev-util.edyst.com/challenge/pokemons/random", {
        params: { any: 5 }
      })
        .then(function(response) {
          _this.busy = false;
          if (response.data.length) {
            _this.aCards = response.data;
            for (var i = 0; i < response.data.length; i++) {
              // response.data[i].nextCardName =
              //   response.data[i + 1] != undefined
              //     ? response.data[i + 1].name
              //     : response.data[0].name;
              //_this.aCards.push(response.data[i]);
            }
          }
        })
        .catch(function(oError) {
          _this.busy = false;
          _this.$store.commit("setModal", {
            show: true,
            title: "Pokemon API request failed",
            message: oError
          });
        });
    }
  }
};
</script>
<style lang="less" scoped>
@import "../assets/core.less";
.home {
  height: 100%;
  padding: 0% 15%;
  width: 70%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  .cardWrapper {
    display: block;
    margin: auto;
    padding: calc((100% - 535px) / 6.75) 0px;
    height: 535px;
    width: 250px;
    @media screen and (max-width: 578px) {
      height: 100%;
      max-height: 600px;
    }
  }
}
</style>
