<template>
  <div class="card" :style="cardBGCSS">
    <div
      class="busy"
      v-if='busy'
    >
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div> 
    <div  class="tag">
      <label :style="tagBGCSS">{{oCard.tag}}</label>
    </div>     
     <div :style="textBGCSS" class="cardInfo">
        <h4>{{oCard.name}}</h4>
        <p>{{oCard.description}}</p>
     </div>     
    <div class="content" :style="imgBGCSS">           
      <img @load="onImageLoad($event)" :src="oCard.sprite"  alt="">
    </div>   
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    oCard: Object
  },
  data() {
    return {
      busy: true
    };
  },
  computed: {
    cardBGCSS() {
      return {
        "background-color": this.oCard.cardColors.bg,
        color: this.oCard.cardColors.text
      };
    },
    imgBGCSS() {
      return "background-color : " + this.oCard.cardColors.imgbg;
    },
    textBGCSS() {
      return "background-color : " + this.oCard.cardColors.textbg;
    },
    tagBGCSS() {
      return "background-color : " + this.oCard.cardColors.tagbg;
    }
  },
  methods: {
    onImageLoad: function(oEvent) {
      if (oEvent.srcElement.complete) {
        this.busy = false;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
@import "../assets/core.less";
.card {
  height: 100%;
  width: 100%;
  overflow: hidden;
  .tag {
    text-align: left;
    margin-top: 11%;
    margin-left: 12%;
  }
  label {
    border-radius: 32%;
    padding: 1%;
  }
  .cardInfo {
    border-radius: 15%;
    margin-bottom: 5%;
    width: 78%;
    text-align: left;
    height: 46%;
    overflow: hidden;
    padding-left: 10%;
    transform: rotate(-12.5deg);
    margin-top: 2%;
    * {
      transform: rotate(12.5deg);
    }
    h4 {
      padding-left: 12%;
    }
  }
  .content {
    margin-top: 5%;
    height: 40%;
    border-radius: 50%;
    width: 84%;
    margin-left: 8%;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
</style>
